<div class="navigation">
  <input type="checkbox" class="navigation__checkbox" id="navi-toggle">

  <label for="navi-toggle" class="navigation__button">
    <span class="navigation__icon">&nbsp;</span>
  </label>

  <div class="navigation__background">&nbsp;</div>

  <nav class="navigation__nav">
    <ul class="navigation__list">
      <li class="navigation__item"><a href="#" class="navigation__link">About Natous</a></li>
      <li class="navigation__item"><a href="#" class="navigation__link">Your benefits</a></li>
      <li class="navigation__item"><a href="#" class="navigation__link">Popular tours</a></li>
      <li class="navigation__item"><a href="#" class="navigation__link">Stories</a></li>
      <li class="navigation__item"><a href="#" class="navigation__link">Book now</a></li>
    </ul>
  </nav>
</div>

<header class="header">
  <div class="header__logo-box">
    <img src="../assets/img/logo.png" alt="Logo" class="header__logo">
  </div>
  <div class="header__text-box">
    <h1 class="heading-primary">
      <span class="heading-primary--main">Outdoors</span>
      <span class="heading-primary--sub">is where life happens</span>
    </h1>
    <a href="#" class="btn btn--white btn--animated">Discover our tours</a>
  </div>
</header>
<main>
  <section class="section-about">
    <div class="u-center-text u-margin-bottom-big">
      <h2 class="heading-secondary">
        Excisting tours for adventurous people
      </h2>
    </div>
    <div class="row">
      <div class="col-1-of-2">
        <h3 class="heading-tertiary u-margin-bottom-small">
          You're going to fall in love with nature
        </h3>
        <p class="paragraph">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum recusandae blanditiis accusantium quidem
          quibusdam modi error laboriosam officiis! Voluptates tenetur alias veritatis error obcaecati dolore itaque
          atque odio molestiae sapiente?
        </p>

        <h3 class="heading-tertiary u-margin-bottom-small">
          Live adventures like you never have before
        </h3>
        <p class="paragraph">
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nulla nihil repudiandae veritatis, optio eveniet
          vel nam? Ratione illo commodi in.
        </p>

        <a href="#" class="btn-text">Learn more &rarr;</a>
      </div>
      <div class="col-1-of-2">
        <div class="composition">
          <img src="../assets/img/img1.jpg" alt="Photo 1" class="composition__photo composition__photo--p1">
          <img src="../assets/img/img3.jpg" alt="Photo 3" class="composition__photo composition__photo--p2">
          <img src="../assets/img/img2.jpg" alt="Photo 2" class="composition__photo composition__photo--p3">
        </div>
      </div>
    </div>
  </section>

  <section class="section-features">
    <div class="row">
      <div class="col-1-of-4">
        <div class="feature-box">
          <i class="feature-box__icon fa fa-globe"></i>
          <h3 class="heading-tertiary u-margin-bottom-small">
            Explore the world
          </h3>
          <p class="feature-box__text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia corrupti ipsum, earum, fugiat deserunt
            veritatis nam laborum pariatur voluptatem eveniet distinctio.
          </p>
        </div>
      </div>
      <div class="col-1-of-4">
        <div class="feature-box">
          <i class="feature-box__icon fa fa-compass"></i>
          <h3 class="heading-tertiary u-margin-bottom-small">
            Meet nature
          </h3>
          <p class="feature-box__text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia corrupti ipsum, earum, fugiat deserunt
            veritatis nam laborum pariatur voluptatem eveniet distinctio.
          </p>
        </div>
      </div>
      <div class="col-1-of-4">
        <div class="feature-box">
          <i class="feature-box__icon fa fa-map"></i>
          <h3 class="heading-tertiary u-margin-bottom-small">
            Find your way
          </h3>
          <p class="feature-box__text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia corrupti ipsum, earum, fugiat deserunt
            veritatis nam laborum pariatur voluptatem eveniet distinctio.
          </p>
        </div>
      </div>
      <div class="col-1-of-4">
        <div class="feature-box">
          <i class="feature-box__icon fa  fa-heart"></i>
          <h3 class="heading-tertiary u-margin-bottom-small">
            Live a healthier life
          </h3>
          <p class="feature-box__text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia corrupti ipsum, earum, fugiat deserunt
            veritatis nam laborum pariatur voluptatem eveniet distinctio.
          </p>
        </div>
      </div>
    </div>
  </section>

  <section class="section-tours" id="section-tours">
    <div class="u-center-text u-margin-bottom-big">
      <h2 class="heading-secondary">
        Most popular tours
      </h2>
    </div>
    <div class="row">
      <div class="col-1-of-3">
        <div class="card">
          <div class="card__side card__side--front">
            <div class="card__picture card__picture--1">
              &nbsp;
            </div>
            <h4 class="card__heading">
              <span class="card__heading-span card__heading-span--1">The Sea Explorer</span>
            </h4>
            <div class="card__details">
              <ul>
                <li>3 days tour</li>
                <li>Up to 30 people</li>
                <li>2 tour guides</li>
                <li>Sleep in cozy hotels</li>
                <li>Difficulty: easy</li>
              </ul>
            </div>
          </div>
          <div class="card__side card__side--back card__side--back-1">
            <div class="card__cta">
              <div class="card__price-box">
                <p class="card__price-only">Only</p>
                <p class="card__price-value">$297</p>
              </div>
              <a href="#popup" class="btn btn--white">Book now!</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-1-of-3">
        <div class="card">
          <div class="card__side card__side--front">
            <div class="card__picture card__picture--2">
              &nbsp;
            </div>
            <h4 class="card__heading">
              <span class="card__heading-span card__heading-span--2">The Forest Hiker</span>
            </h4>
            <div class="card__details">
              <ul>
                <li>7 days tour</li>
                <li>Up to 40 people</li>
                <li>6 tour guides</li>
                <li>Sleep in provided tents</li>
                <li>Difficulty: medium</li>
              </ul>
            </div>
          </div>
          <div class="card__side card__side--back card__side--back-2">
            <div class="card__cta">
              <div class="card__price-box">
                <p class="card__price-only">Only</p>
                <p class="card__price-value">$497</p>
              </div>
              <a href="#popup" class="btn btn--white">Book now!</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-1-of-3">
        <div class="card">
          <div class="card__side card__side--front">
            <div class="card__picture card__picture--3">
              &nbsp;
            </div>
            <h4 class="card__heading">
              <span class="card__heading-span card__heading-span--3">The Snow Adventurer</span>
            </h4>
            <div class="card__details">
              <ul>
                <li>5 days tour</li>
                <li>Up to 15 people</li>
                <li>3 tour guides</li>
                <li>Sleep in provided tents</li>
                <li>Difficulty: hard</li>
              </ul>
            </div>
          </div>
          <div class="card__side card__side--back card__side--back-3">
            <div class="card__cta">
              <div class="card__price-box">
                <p class="card__price-only">Only</p>
                <p class="card__price-value">$897</p>
              </div>
              <a href="#popup" class="btn btn--white">Book now!</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="u-center-text u-margin-top-huge">
      <a href="#" class="btn btn--green">Discover all tours</a>
    </div>
  </section>

  <section class="section-stories">
    <div class="bg-video">
      <video class="bg-video__content" autoplay muted loop>
        <source src="/src/assets/video/The-Slow-Dock/The-Slow-Dock.mp4" type="video/mp4">
        <source src="/src/assets/video/The-Slow-Dock/The-Slow-Dock.webm" type="video/webm">
        Your browser is not supported!
      </video>
    </div>
    <div class="u-center-text u-margin-bottom-big">
      <h2 class="heading-secondary">
        We make people genuinely happy
      </h2>
    </div>
    <div class="row">
      <div class="story">
        <figure class="story__shape">
          <img src="assets/img/person1.jpg" alt="Person on a tour" class="story__image">
          <figcaption class="story__caption">
            Mary Smith
          </figcaption>
        </figure>
        <div class="story__text">
          <h3 class="heading-tertiary u-margin-bottom-small">I had the best week ever with my family</h3>
          <p>Lorem ipsum dolor sit amet consectetur elit. Iste, doloribus nam delectus non a doloremque corporis qui
            quibusdam quidem laborum quam , facilis? Iste, doloribus nam delectus non a doloremque corporis qui
            quibusdam quidem laborum quam sed minus, corrupti ipsam facilis? Nulla perspiciatis nostrum vel?</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="story">
        <figure class="story__shape">
          <img src="assets/img/person2.jpg" alt="Person on a tour" class="story__image">
          <figcaption class="story__caption">
            Jack Wilson
          </figcaption>
        </figure>
        <div class="story__text">
          <h3 class="heading-tertiary u-margin-bottom-small">WOW! My life is completely different now</h3>
          <p>Lorem ipsum dolor sit amet consectetur elit. Iste, doloribus nam delectus non a doloremque corporis qui
            quibusdam quidem laborum quam , facilis? Iste, doloribus nam delectus non a doloremque corporis qui
            quibusdam quidem laborum quam sed minus, corrupti ipsam facilis? Nulla perspiciatis nostrum vel?</p>
        </div>
      </div>
    </div>
    <div class="u-center-text u-margin-top-huge">
      <a href="#" class="btn-text">Read all stories &rarr;</a>
    </div>
  </section>

  <section class="section-book">
    <div class="row">
      <div class="book">
        <div class="book__form">
          <form action="#" class="form">
            <div class="u-margin-bottom-medium">
              <h2 class="heading-secondary">
                Start booking now
              </h2>
            </div>
            <div class="form__group">
              <input id="name" type="text" class="form__input" placeholder="Full name" required>
              <label for="name" class="form__label">Full name</label>
            </div>
            <div class="form__group">
              <input id="email" type="email" class="form__input" placeholder="Email address" required>
              <label for="email" class="form__label">Email name</label>
            </div>
            <div class="form__group u-margin-bottom-medium">
              <div class="form__radio-group">
                <input type="radio" id="small" class="form__radio-input" name="size">
                <label for="small" class="form__radio-label">
                  <span class="form__radio-button"></span>
                  Small tour group
                </label>
              </div>
              <div class="form__radio-group">
                <input type="radio" id="large" class="form__radio-input" name="size">
                <label for="large" class="form__radio-label">
                  <span class="form__radio-button"></span>
                  large tour group</label>
              </div>
            </div>
            <div class="form__group">
              <button type="submit" class="btn btn--green">Next step</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>

  <footer class="footer">
    <div class="footer__logo-box">
      <img src="assets/img/logo-footer.png" alt="Full logo" class="footer__logo">
    </div>
    <div class="row">
      <div class="col-1-of-2">
        <div class="footer__navigation">
          <ul class="footer__list">
            <li class="footer__item"><a href="" class="footer__link">Company</a></li>
            <li class="footer__item"><a href="" class="footer__link">Contact us</a></li>
            <li class="footer__item"><a href="" class="footer__link">Carrers</a></li>
            <li class="footer__item"><a href="" class="footer__link">Privacy policy</a></li>
            <li class="footer__item"><a href="" class="footer__link">Terms</a></li>
          </ul>
        </div>
      </div>
      <div class="col-1-of-2">
        <p class="footer__copyright">
          Built my <a href="#" class="footer__link">Giorgi Khmaladze</a> for my own. Copyright &copy; by xala. You are
          100% allowed to use this webpage for both personal and commercial use, but NOT to claim it as your owndesign.
          A credit to the original author, Jonas Schmedtmann, is of course highly appreciated!
        </p>
      </div>
    </div>
  </footer>

  <div class="popup" id="popup">
    <div class="popup__content">
      <div class="popup__left">
        <img src="assets/img/person1.jpg" alt="Tour photo" class="popup__img">
        <img src="assets/img/person2.jpg" alt="Tour photo" class="popup__img">
      </div>
      <div class="popup__right">
        <a href="#section-tours" class="popup__close">&times;</a>
        <h2 class="heading-secondary u-margin-bottom-small">Start booking now</h2>
        <h3 class="heading-tertiary u-margin-bottom-small">Important &ndash; Please read these terms befor booking</h3>
        <p class="popup__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet molestias distinctio,
          asperiores nobis recusandae magnam similique fugit mollitia consectetur? Unde perferendis tempore tenetur
          atque deserunt officia saepe nostrum iste dignissimos.</p>
          <a href="#" class="btn btn--green">Book now</a>
      </div>
    </div>
  </div>
</main>



<!-- <section class="grid-test">
  <div class="row">
    <div class="col-1-of-2">
      Col 1 of 2
    </div>
    <div class="col-1-of-2">
      Col 1 of 2
    </div>
  </div>
  <div class="row">
    <div class="col-1-of-3">
      Col 1 of 3
    </div>
    <div class="col-1-of-3">
      Col 1 of 3
    </div>
    <div class="col-1-of-3">
      Col 1 of 3
    </div>
  </div>
</section> -->